
body {
    width: 600px;
    margin: 2px auto;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    background-size: 140% 140%, contain;
    text-align: center;
    vertical-align: middle;
    height: 100%;   
}
.imagen{
    align-content: center;
    align-items: center;
    width: 227px ;
    height:53px;
}
img {
    display: block;
    margin: 0 auto;
}
ul, ol {
    list-style:none;
}

#menu {
    margin:auto;
    width:600px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.fondomenu >li {
    float:left;
}

.fondomenu li a {
        background-image: url(Imagenes/fondo_menu.jpg);
	color:black;
        text-align: center;
        line-height: 20px;
        margin-left: 20px;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
.fondomenu li a:hover {
	background-color:#434343;
}
.fondomenu li ul {
	display:none;
	position:absolute;
	min-width:140px;
}
.fondomenu li:hover > ul {
	display:block;
}
.fondomenu li ul li {
	position:relative;
}
.fondomenu li ul li ul {
	right:-140px;
	top:0px;
}

.table
{
    margin: 0 auto;
    display: inline-block!important;
    color:black;
    width: 800px;
    height: 300px;
    align-content: center;
    vertical-align: middle;
}
tr, td:last-child{
    max-width:100%;
    white-space:nowrap;
}
.table > div{
    margin: 0 auto;
    border: 1px;
    display: inline-block!important;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}
font{
    font-style: initial;
    color:black;
    font-weight: bold;
}
label{
    color: black;
}

.boton{
    font-weight: bold;
    font-family:Verdana,Helvetica;
    color:black;
    background-position: center;
    background-image: url(Imagenes/fondo_menu1.jpg);
    background-repeat: no-repeat;
    border:0px;
    width:100px;
    height:40px;
    white-space: normal;
    -webkit-appearance: none;
}
table
{
    width: 80%;
    height: 300px;
}