body {
    width: 600px;
    margin: 2px auto;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    background-size: 100% 300% ,contain;
    
}
.imagen{
    align-content: center;
    align-items: center;
    width: 227px ;
    height:53px;
    display: block;
    margin: 0 auto;
}

.table
{
    margin: 0 auto;
    color:black;
    width: 400px;
}

font{
    font-style: initial;
    color:black;
    font-weight: bold;
}
label{
    color: black;
}

.boton{
    font-weight: bold;
    font-family:Verdana,Helvetica;
    color:black;
    background-position: center;
    background-image: url(Imagenes/fondo_menu1.jpg);
    background-repeat: no-repeat;
    border:0px;
    width:100px;
    height:40px;
    white-space: normal;
    -webkit-appearance: none;
}
table
{
    width: 80%;
    height: 150px;
    align-content: center;
}